
@media only screen and (min-device-width: 400px) {
    .body{
        background-image: url('background_cmt322.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: relative;
        display: flex;
        justify-content: center;
    }
}
.container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height:650px;
    top:35%;
}


.button{
    display: inline-flex;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 15px 32px;
    margin: 10px 6px;
    color:black;
    background-color: whitesmoke;
    overflow: hidden;
}

.button-text,
.icon{
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    height: 50px;
    
}

.icon{
    font-size: 50px;
}
.button:hover{
    background-color: lightslategray;
}


.first{
    background: rgba(0, 0, 0, 0.5);
    height: 120px;
    width: 300px;
    border-radius: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 35%;
    
}

.header-banner-text {
    margin: 0px;
    padding: 0px 0px 0px 220px;
    display: inline-block
}

.header-banner{
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
    background: #472300;
    color: white;
    font-size: 30px;
}

.login-button {
    transition-duration: 0.4s;
    background-color: #0d4de0;
    border: none;
    color: white;
    padding: 12px 25px 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 20px 12px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #08308c;
}

.sign-up-button {
    transition-duration: 0.4s;
    background-color: #0d4de0;
    border: none;
    color: white;
    padding: 12px 25px 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 0px 12px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}

.sign-up-button:hover {
    background-color: #08308c;
}

#message_icon{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 50px;
    color: white;
}
